<div>
  <section id="header">
    <div class="text-white text-center p-5">
      <h1>Lorem Ipsum doler</h1>
      <h3>Lorem Ipsum doler Lorem Ipsum doler Lorem Ipsum doler</h3>
    </div>
  </section>

  <div class="container">
    <section class="about-us row pb-5 pt-5 justify-content-md-center">
      <img class="col-md-4 images" src="https://via.placeholder.com/300" width="100%" alt="" />
      <div class="col-md-6 col-md-offset-1">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum </h2>
        <p class="pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est
          laborum.</p>
      </div>
    </section>
    <section class="about-us row pb-5 pt-5 justify-content-md-center">
      <div class="col-md-6">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum </h2>
        <p class="pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est
          laborum.</p>
      </div>
      <img class="col-md-4 col-md-offset-1 images" src="https://via.placeholder.com/300" width="100%" alt="" />
    </section>

    <section id="services">
      <h2 class=" pb-3 pt-4 text-center">Services we provide</h2>
      <div class="row">
        <div class="col-sm-6 p-5" *ngFor="let img of [1,2,3,4,5,6];let i=index;">
          <div class="row">
            <img class="col-sm-6 img-fluid images" src="https://via.placeholder.com/150" width="100%" alt="" />
            <div class="col-sm-6 pt-2 pb-2 service">
              <h3>LOREM Ipsum</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                </p>
              <button class="btn btn-block bg-primary text-white">What we do</button>
            </div>

          </div>

        </div>
      </div>
    </section>
  </div>
  <section id="contact">
    <div class="text-center pt-3 pb-3">
      <h2>
        Contact us
      </h2>
      <p>Address: Lorem ipsum dolor sit amet</p>
      <p>Mobile: 09878909878</p>
    </div>
  </section>
</div>