<section id="header">
  <div class="text-white text-center p-5">
    <h1>Lorem Ipsum doler</h1>
    <h3>Lorem Ipsum doler Lorem Ipsum doler Lorem Ipsum doler</h3>
  </div>
</section>
<div class="m-auto container pt-5 pb-5">
  <section class="about-us row pb-5 justify-content-md-center">
    <div class="col-md-6">
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum </h2>
      <p class="pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    </div>
    <img class="col-md-4 col-md-offset-1 images" src="https://via.placeholder.com/300" width="100%" alt="" />
  </section>

  <!-- Keymembers-->
  <section class="text-center">
    <h2 class="pb-3">Lorem ipsum dolor sit amet</h2>
    <div class='row m-auto'>
      <div class="col-sm-4 col-xs-12 images p-3" *ngFor="let k of [1,2,3,4,5,6]">
        <img src="https://via.placeholder.com/150" class="pb-2 images" width="100%" alt="">
        <p>Name</p>
        <p>description</p>
        <a>Links to profile</a>
      </div>
    </div>
  </section>
</div>